
.img-infografica__item 
    width: 8.5% !important
 
.lista-ol--cuadro__vineta2 
    background-color: #00BCD4
    
.tt-n 
  background-color: #DEE4F0
  color: #000000 !important
.img-infografica__card 
    width: 400px !important
  
  
.fond-1
  border-radius: 20px 
  background-color: #F7F6FE
.fond2
  border-radius: 20px 20px 20px 0px
  background-color: #DEE4F0
.fond3
  background-color: #B9E8F4 !important
.fond4
  background-color: #F2EEFC !important
  border-radius: 50px 
.fond5
  background-color: #F2EFFC !important
  border-radius: 50px 
.fond5-
  background-color: #D9EDF7 !important
  border-radius: 50px     
.fond6
  background-color: #F0F8FC
.fond7
  background-color: #F0FBFD
  border-radius: 50px  
.fms
  background-color: #7E5EE3  
.ii
  color: #7E5EE3 !important 
.r-r-2
  border: 4px solid #7E63E0
  padding: 10px    
  background-color: #fff

.img-c 
  justify-content: center!important
  display: block
  margin: 0 auto  
.img-60
  width: 60px !important  
.img-80
  width: 80px !important  
.img-120
  width: 120px !important
.img-250
  width: 250px !important  
.img-300
  width: 300px !important    
.img-400
  width: 400px !important    
.img-500
  width: 500px !important   
.aab
  align-self: end
.degra
  background: linear-gradient(to bottom, #7E5EE3, #81D4FA)  
.sep
  border-top: 1px solid #AFAFAF !important
.sep2
  border-top: 1px solid #AFAFAF !important
  border-bottom: 1px solid #AFAFAF !important

$crd-icon-size: 120px
$crd-padding: 1.5rem
$crd-width: calc(100% - ((#{$crd-icon-size} / 2))

.crd_03
  position: relative
  display: flex
  flex-direction: row
  justify-content: start
  align-items: center 
  padding: 0.5rem 0.5rem 0.5rem 0   
  z-index: 1
  &::before
    content: ""
    position: absolute
    top: 0
    right: 0
    width: $crd-width
    height: 100%    

    border-radius: 15px
    z-index: -1
  &__icon
    order: 1
    flex-basis: auto
    width: $crd-icon-size
    margin-right: 15px
    img   
      width: $crd-icon-size
  &__txt
    flex: 1 
    order: 2  
  &::before
    content: ""
    position: absolute
    top: 0
    right: 0
    width: $crd-width
    height: 100%    
    border-radius: 30px
    z-index: -1
  &__icon
    order: 1
    flex-basis: auto
    width: $crd-icon-size
    margin-right: 15px
    img   
      width: $crd-icon-size
  &__txt
    flex: 1 
    order: 2  
.crd_01 
  position: relative
  display: flex
  flex-direction: row
  justify-content: start
  align-items: center 
  padding: 1.5rem 1.5rem 1.5rem 0   
  z-index: 1
  //background-color: pink
  &::before
    content: ""
    position: absolute
    top: 0
    right: 0
    width: $crd-width
    height: 100%    
    background-color: #DFEDFE
    border-radius: 15px
    z-index: -1
  &__icon
    order: 1
    flex-basis: auto
    width: $crd-icon-size
    margin-right: 15px
    img   
      width: $crd-icon-size
  &__txt
    flex: 1 
    order: 2  

.cc1
  background-color: #7E5EE3
  border-radius: 60px
  width: 60px
  height: 60px
  top: 25px
  transform: translateX(-20%)

.cc3
  position: absolute
  left: 50%
  top: 50%
  color: #12263F
  transform: translate(-50%,-50%)      

@media screen and ( min-width: 992px )  
  .contenedor
    margin: -18rem -3rem
    padding: 18rem 3rem
    z-index: 0
    &__bbg1
      background: url('../assets/tema1/fnd-1.svg')
      background-position: top center
      background-size: auto
      background-repeat: no-repeat
      overflow: visible
    &__bbg2
      background: url('../assets/tema3/fnd-1.svg')
      background-position: bottom center
      background-size: auto
      background-repeat: no-repeat
      overflow: visible
  .col-lg-4_5
    width: 38%
  .traslape1
    padding: 4.5rem  
.izq 
  background-color: #F2FBFF
  border-radius: 50px
  top: -10%
  bottom: 40%



